<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <br>
            <h3>{{title}} <small class="pull-right">Results: {{newsCount}}</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
         {{#if newsList}}
            {{{newsList}}}
         {{else}}
            <p>There is no news available!</p>
            <legend></legend>
         {{/if}}
        </div>  <!-- /.col -->
    </div>  <!-- /.row -->
</div> <!-- /.container -->