html {
    /* Taken from bootstrap sticky footer example */
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    /* Set the bottom margin to equal the footer height */
    margin-bottom: 50px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

span a {
    color: #fff;
}

span a:hover {
    color: #ddd;
    text-decoration: none;
}

ul #user-dropdown {
    padding: 0;
}

#user-dropdown .divider {
    margin: 0;
}

#user-dropdown a {
    padding: 20px;
    font-size: 18px;
}

#login-form .btn {
    margin-top: 8px;
}

blockquote a {
    text-decoration: none;
    font-size: 13px;
}

#form-comment textarea {
    height: 250px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here, must equal margin-bottom of body */
    height: 50px;
    /* Set to match the main theme */
    background-color: #222222;
    border-color: #121212;
    color: #fff;
}

.footer p {
    margin: 14.5px 0;
}
